
/*  좌/우 분할 */
.wrap{
  display:flex;
  height:100vh;
  padding-top:80px; /* 헤더 공간 */
}

/* 왼쪽 (스크롤) */
.left{
  flex:3;
  overflow-y:auto;
  padding:40px;
}
.left .ph{
  height:400px;
  background:#eee;
  margin-bottom:30px;
  border-radius:8px;
}

/* 오른쪽 (스크롤) */
.right{
  flex:1;
  border-left:1px solid #ddd;
  overflow-y:scroll;
  padding:30px;
  background:#fafafa;
}

/*  footer */
footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:80px;
  background:#002c2c;
  color:#fff;
  display:flex;
  align-items:center;
  padding-left:40px;
  font-size:14px;
}


